<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/padrao.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Cadastrar Professor</title>
</head>

<body>
    <header class="header">
        <h2 class="texto_header">Cadastrar Professor</h2>
    </header>

    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label class="mt-5" for="nome">Nome</label>
                <input class="form-control" type="text"\>
            </div>
            <div class="mb-3">
                <label id="email">Email</label>
                <input class="form-control" for="email" type="email" required\>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Cadastrar</button>
        </form>
    </div>

</body>

</html>