<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Postagem</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/padrao.css">
    <!-- importe bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header class="header">
        <h2 class="texto_header">Gerenciar Postagem</h2>
        <span class="post material-symbols-outlined ">
            contract
        </span>
</header>


    <div class="container">
        <h1>Cadastrar Postagem</h1>
        <form action="cadastrarPostagem.php" method="post">
            <!-- forms precisa ter os seguintes campos: texto, dropdown com tipo, anexo de imagens, e anexo de arquivos -->
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Título da postagem" required>
            </div>
            <div class="form-group">
                <label for="texto">Texto</label>
                <textarea name="texto" id="texto" class="form-control" placeholder="Texto da postagem" required></textarea>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select name="tipo" id="tipo" class="form-control" required>
                    <option value="1">Notícia</option>
                    <option value="2">Artigo</option>
                    <option value="3">Dica</option>
                </select>
            </div>
            <div class="form-group">
                <label for="imagem">Imagem</label>
                <input type="file" name="imagem" id="imagem" class="form-control">
            </div>
            <div class="form-group">
                <label for="arquivo">Arquivo</label>
                <input type="file" name="arquivo" id="arquivo" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</body>

</html>