.header-1 {
    background-color: #1c2c4c;
    color: #fff;
}

.container-1 {
    padding-left: 30px;
    padding-right: 20px;
}

.search-icon {
    cursor: pointer;
}

.search-input {
    display: none;
}

.search-input input {
    height: 24px;
    width: 200px;
}

.search-input.active {
    display: inline-block;
}

.separator {
    padding-right: 10px;
    color: #fff;
}

.navbar-divider {
    width: 98%;
    margin: 0 auto;
    height: 1px;
    background-color: #d3d3d3;
}

.custom-navbar {
    font-size: 20px;
    padding: 20px;
}

.logo {
    width: 200px;
    height: auto;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-item-custom {
    margin-left: 60px;
}

.custom-navbar-collapse {
    padding-right: 80px;
}

@media screen and(max-width: 750px) {
    .header-1 .fs-6 {
        display: none;
    }
}


@media screen and(max-width: 990px) {
    .custom-navbar-collapse {
        padding-right: 0;
    }
    .dropdown-item-custom {
        margin-left: 0;
    }
}

.custom-container {
    background-color: #1c2c4c;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 5px;
}

.smaller-font {
    font-size: 20px;
    font-weight: normal;
    padding-top: 5px;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

#demo.carousel {
    margin: 50px auto 0;
}

.carousel-inner {
    border-radius: 5px;
    overflow: hidden;
}


.carousel-image {
    min-width: 100%;
    height: auto;
    object-fit: cover;
}


.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.btn.custom-button {
    background-color: #1c2c4c;
    color: #ffffff;
}


.btn.custom-button:hover {
    background-color: #324c81;
    color: #ffffff;
}
.div_filtro {
    margin-top: 40px;
}

.h4_filtro {
    font-size: 20px;
}

.custom-button-castastrar-tcc {
    margin-bottom: 20px;
}

.container-excluir {
    margin-top: 50px;
}

.card-header.text-white.div-form {
    background-color: #1c2c4c;
}
.btn-default {
    margin: 10px 10px 10px 0;
}

.btn-back {
    text-decoration: solid;
    color: white;
}
.field-search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-container {
    text-align: center;
   
}

.custom-table {
    table-layout: fixed;
    width: 100%;
}

.custom-table th,
.custom-table td {
    vertical-align: middle;
}

.custom-table th.text-center,
.custom-table td.text-center {
    text-align: center;
}


.pad100 {
    padding: 10px 0;
}

.primary-btn {
    text-align: center;
}


.btn.btn_detalhes {
    background-color: #1c2c4c;
    border-color: #1c2c4c;
    color: #ffffff;
}

.btn.btn_detalhes:hover {
    background-color: #324c81;
    border-color: #324c81;
    color: #ffffff;
}

.event-date {
    color: #1c2c4c;
    text-align: center;
    
}
.date-day {
    font-size: 30px;
    line-height: 50px;
    font-weight: normal;
}

.custom-table-head th {
    font-size: 18px;
    font-weight: bold;
}

.clickable-row:hover {
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active a {
    background-color: #283f6c;
    border-color: #283f6c;
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.active:hover a {
    background-color: #1c2c4c;
    border-color: #1c2c4c;
    color: #fff;
}

table#tccTable.dataTable {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.email, .curriculo {
    max-width: 70%; 
    position: relative;
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;
}

.container-prof{
    margin-top: 50px;
}

.dropdown .dropdown-toggle.user {
    background-color: #1c2c4c;
    color: #ffff; 
    border: none;
}

.dropdown .dropdown-toggle.user:hover {
    background-color: #16233d;
    color: #ffff; 
    border: none;
}

.dropdown .dropdown-menu .dropdown-item {
    background-color: #ffff; 
    color: #1c2c4c; 
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #6f7580;
    color: #ffff;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 70px !important;
}

.div-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}